<%= link_to "Add a New Movie", new_movie_path,
              :class => "pull-right btn btn-success btn-sm" %><br><br>
<%= link_to "Add a New Director", new_director_path,
              :class => "pull-right btn btn-success btn-sm" %>
              
<h1>Movies</h1>
<hr>


<div class="row col-md-12">
  <p><b>On Show </b><%= link_to "more", movies_path %></p>  
  
  <% @movies.each do |movie| %>
    <% if movie.poster_url.present? %>
      <%= link_to image_tag(movie.poster_url, size: "100", class: 'img-circle'),movie_path(movie) %>
    <% end %>
  <% end %>
  <br>
  <br><br>
  
</div>



