<div class="page-header">
  <h2></h2>
</div>

<div class="jumbotron col-md-8 col-md-offset-2">
  <h1>LetsShare</h1><br>
  <p>Join LetsShare to find and share all the things that inspire you.</p>
  <p><small>Movies, books, music, groups..</small></p>
  <br>
  <div class="col-md-6 col-md-offset-3">
    <p><%= link_to "Sign Up", new_user_path, :class => "btn btn-primary btn-default btn-block" %></p>
    <p><%= link_to "Sign In", new_session_path, :class => "btn btn-primary btn-default btn-block" %></p>
  </div>       
</div>